{% extends "layout.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block content %}
<div class="card mb-3">
  <div class="card-header text-bg-primary">Schedule backport</div>
  <div class="card-body">
    <p>Schedule a Gerrit change for deployment during a <a href="https://wikitech.wikimedia.org/wiki/Backport_windows">backport window</a>.</p>
    {{ render_form( form, form_type="inline", id="backport" ) }}
  </div>
</div>
<div class="card border-secondary">
  <div class="card-header text-bg-secondary">Upcoming backport windows</div>
  <ul class="list-group list-group-flush">
    {% for window in windows %}
    <li class="list-group-item"><a href="{{ url_for('window', epoch=window[2].timestamp() ) }}">{{ window[1] }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
{# vim:set sw=2 ts=2 sts=2 et #}
